.slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #prevBtn,
  #nextBtn {
    padding: 5px 10px;
  }
  
  #image {
    max-width: 500px;
    max-height: 500px;
  }
  